body

{
  background-color: black;
  background-image: url(curves_gray_minimalistic_wallpaper-28477.jpg);
  font-family:"helvetica
}
.gato img
{
width: 70%;
margin-left: auto;
margin-right: auto;
display: block;
border-radius: 0.5em 5em;
}
h1
{ 
  
}
h2{
  color: grey;
  font-size: 30px; 
  text-decoration-style: #ebe1e1 solid;
}
nav ul li
{
    background-color: gray;
    display:inline-block;
    margin-right: 20px;
    color: grey;
    cursor: pointer;
    font-size: 25px
}
#textopr1
{
  
   background-color:white; 
   color: #0d0d0d;
   /*margin: 0 auto;*/
   border-radius:10px; 
   box-shadow: 0px 0px 20px rgba(0 0 0 0.5);
   padding-right: 30px;
   padding-left: 30px;
   padding-bottom: 10px;
   padding-top: 0px;
   /*margin-left: 100px;
   margin-right: 100px; */
   text-align:center;
   font-family: century gothic;
}
#textopr2
{
  
   background-color:#645f5f; 
   color: black;
   
   border-radius:20px; 
   box-shadow: 0px 0px 20px rgba(0 0 0 0.5);
   padding-right: 30px;
   padding-left: 30px;
   padding-bottom: 10px;
   padding-top: 0px;
   
   text-align:justify;
   font-family: century gothic;
}
#textopr3
{
   width: 600e;
   height: 300e; 
   background-color:#645f5f; 
   color: #0d0d0d;
   margin: 0 auto;
   border-radius:20px; 
   box-shadow: 0px 0px 20px rgba(0 0 0 0.5);
   padding-right: 30px;
   padding-left: 30px;
   padding-bottom: 10px;
   padding-top: 0px;
   margin-left: 100px;
   margin-right: 300px;
   text-align:justify;
   font-family: century gothic;
}
#textopr4
{
   width: 600e;
   height: 300e; 
   background-color:#645f5f; 
   color: black;
   margin: 0 auto;
   border-radius:20px; 
   box-shadow: 0px 0px 20px rgba(0 0 0 0.5);
   padding-right: 30px;
   padding-left: 30px;
   padding-bottom: 10px;
   padding-top: 0px;
   margin-left: 300px;
   margin-right: 100px;
   text-align:center;
   font-family: century gothic;
}
#textopr5
{
   width: 600e;
   height: 300e; 
   background-color:white; 
   color: black;
   margin: 0 auto;
   border-radius:10px; 
   box-shadow: 0px 0px 20px rgba(0 0 0 0.5);
   padding-right: 30px;
   padding-left: 30px;
   padding-bottom: 10px;
   padding-top: 0px;
   margin-left: 300px;
   margin-right: 100px;
   text-align:right;
   font-family: century gothic;
}
footer
{
        background: white;
        color:rgba (255,255,255,0.7);
        text-align:center;
        border-radius:08px; 
        padding:0em;
        font-family: century gothic;
    }